
@font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v32-latin-regular.woff2') format('woff2'),
    url('../fonts/roboto-v32-latin-regular.woff') format('woff'); 
  }
  
  @font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v32-latin-700.woff2') format('woff2'),
    url('../fonts/roboto-v32-latin-700.woff') format('woff'); 
  }


@font-face {
    font-display: swap; 
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/play-v19-latin-regular.woff2') format('woff2'),
    url('../fonts/play-v19-latin-regular.woff') format('woff'); 
  }
  
  @font-face {
    font-display: swap; 
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/play-v19-latin-700.woff2') format('woff2'),
    url('../fonts/play-v19-latin-700.woff') format('woff'); 
  }



:root {
    --color-primary-light:#FFFFFF;
    --color-seconary-dark: #747272;
    --color-brand-light: #2B7FFF;
    --color-brand-dark: #011C44;
}



/* Base */
ul {
    list-style-type: none;
}
body {
    font-family: 'roboto', sans-serif;
    color: var(--color-brand-dark);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

/* Logo button*/
.logo {
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
    color: var(--color-brand-light);
}
/* link */
.link {
    text-decoration: none;
    /* color: var(--color-brand-dark); */
}
.link:hover {
    color: var(--color-brand-light);
    cursor: pointer;
    
}
/* Main head */
.main-head {
    line-height: 1,2;
    font-size: 140px;
    font-family: 'Play', sans-serif;
    font-weight: 700;
    color: var(--color-brand-light);
}

/* Button */
.button {
    color: var(--color-primary-light);
    background-color: var(--color-brand-light);
    cursor: pointer;
    font-weight: 600;
}
.button:hover {
    color: var(--color-brand-dark);
    background-color: transparent;
    font-weight: 600;
}
.button-end {
    color: var(--color-primary-light);
        background-color: var(--color-brand-light);
        cursor: pointer;
        font-weight: 600;
}
.button-end:hover {
    color: var(--color-brand-dark);
    background-color: var(--color-primary-light);
    font-weight: 600;
}

/* Secondary text */
.secondary-text {
    font-size: 12px;
    color: var(--color-seconary-dark);
}
.secondary-text span {
    text-decoration: underline;
}
/* Headlines */
.headlines {
    font-family: 'Play', sans-serif;
    font-weight: 700;
}

.headlines span {
    text-transform: capitalize;
    color: var(--color-brand-light);
}

.headlines-center span {
color: var(--color-brand-light);
}

.headlines-center { 
    font-size: 64px;
    font-weight: 700;
    color: var(--color-brand-dark);
    text-align: center;   
}

.headlines-paragraph span {
    
    font-weight: 600;
    text-transform: capitalize;
}

.our-procedures-list {
    font-size: 22px;
    color: var(--color-primary-light);
}
/* Sign up end */
#sign-up-end {
background-color: var(--color-brand-dark);
}

.sign-up-end-title {
    font-size: 22px;
    font-weight: 600;
    color: var(--color-primary-light);
    background-color: var(--color-brand-dark);
}
.sign-up-end-title span {
    color: var(--color-brand-light);
}
/* Maps */
.maps {
    border-radius: 32px;
}
/* Footer */
.footer { 
    font-size: 16px;
    text-decoration: none;
    color: var(--color-primary-light);
}
.footer:hover {
    color: var(--color-brand-light);
        cursor: pointer;
}

footer {
    
    background-color: var(--color-brand-dark);
}